<!DOCTYPE html>
<html>
<head>
     <title>Login page</title>
     <link rel='stylesheet' href="{{url_for('static',filename='style.css')}}">
</head>
<body>
     <h1>Login Page</h1>
     <nav>
          <a href="{{url_for('home')}}">Home</a>
          <a href="{{url_for('signup')}}">Signup</a>
          <a href="{{url_for('leaderboard')}}">LeaderBoard</a>
          <a href="{{url_for('about')}}">About</a>
     </nav>
     <div class="login-box">
     <form method="POST">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
          <br><br>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
          <br><br>
          <button type="submit">Login</button>
     </form>
     </div>
     <br>
     <a href="{{url_for('signup')}}">
          Back to Signup
     </a>
</body>
</html>