<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <h1>Welcome to the Programming Quiz</h1>
    <form method="POST">
        <h3>1.Which programming language are easy to learn?</h3>
        <label>
        <input type="radio" name="q1" value="Python">Python
        </label>
        <br><br>

        <label>
        <input type="radio" name="q1" value="Java">Java
        </label>
        <br><br>

        <label>
        <input type="radio" name="q1" value="C++">C++
        </label>
        <br><br>
         
        <label>
        <input type="radio" name="q1" value="C">C
        </label>
        <br><br>


        <h3>2.Which framework are used in python?</h3>
        <label>
        <input type="radio" name="q2" value="HTML">HTML
        </label>
        <br><br>
        
        <label>
        <input type="radio" name="q2" value="Flask">Flask
        </label>
        <br><br>

        <label>
        <input type="radio" name="q2" value="CSS">CSS
        </label>
        <br><br>

        <label>
        <input type="radio" name="q1" value="C++">C++
        </label>
        <br><br>

        <h3>3.Which function is usedd to take input from the user?</h3>
        <label>
        <input type="radio" name="q3" value="get()">get()
        </label>
        <br><br>

        <label>
        <input type="radio" name="q3" value="input()">input()
        </label>
        <br><br>

        <label>
        <input type="radio" name="q3" value="scan()">scan()
        </label>
        <br><br>

        <label>
        <input type="radio" name="q3" value="read()">read()
        </label>
        <br><br>

        <h3>4.What is the correct extension of Python files?</h3>
        <label>
        <input type="radio" name="q4" value=".pt">.pt
        </label>
        <br><br>

        <label>
        <input type="radio" name="q4" value=".py">.py
        </label>
        <br><br>

        <label>
        <input type="radio" name="q4" value=".python">.python
        </label>
        <br><br>

        <label>
        <input type="radio" name="q4" value=".p">.p
        </label>
        <br><br>

        <h3>5.Which keyword is used to define a function in Python?</h3>
        <label>
        <input type="radio" name="q5" value="function">function
        </label>
        <br><br>

        <label>
        <input type="radio" name="q5" value="define">define
        </label>
        <br><br>

        <label>
        <input type="radio" name="q5" value="def">def
        </label>
        <br><br>

        <label>
        <input type="radio" name="q5" value="fun">fun
        </label>
        <br><br>

        <h3>6. Which symbol is used for comments in Python?</h3>
        <label>
        <input type="radio" name="q6" value="//">//
        </label>
        <br><br>

        <label>
        <input type="radio" name="q6" value="--">--
        </label>
        <br><br>

        <label>
        <input type="radio" name="q6" value="#">#
        </label>
        <br><br>

        <label>
        <input type="radio" name="q6" value="/* */">/* */
        </label>
        <br><br>

        <h3>7. Which function is used to display output?</h3>
        <label>
        <input type="radio" name="q7" value="show()">show()
        </label>
        <br><br>

        <label>
        <input type="radio" name="q7" value="display()">display()
        </label>
        <br><br>

        <label>
        <input type="radio" name="q7" value="output()">output()
        </label>
        <br><br>

        <label>
        <input type="radio" name="q7" value="print()">print()
        </label>
        <br><br>

        <h3>8. Which data type is used to store decimal values?</h3>
        <label>
        <input type="radio" name="q8" value="int">int
        </label>
        <br><br>

        <label>
        <input type="radio" name="q8" value="float">float
        </label>
        <br><br>

        <label>
        <input type="radio" name="q8" value="str">str
        </label>
        <br><br>

        <label>
        <input type="radio" name="q8" value="bool">bool
        </label>
        <br><br>

        <h3>9. Which data type stores whole numbers?</h3>
        <label>
        <input type="radio" name="q9" value="string">string
        </label>
        <br><br>

        <label>
        <input type="radio" name="q9" value="float">float
        </label>
        <br><br>

        <label>
        <input type="radio" name="q9" value="int">int
        </label>
        <br><br>

        <label>
        <input type="radio" name="q9" value="bool">bool
        </label>
        <br><br>

        <h3>10. Which data type is used to store True or False?</h3>
        <label>
        <input type="radio" name="q10" value="int">int
        </label>
        <br><br>

        <label>
        <input type="radio" name="q10" value="str">str
        </label>
        <br><br>

        <label>
        <input type="radio" name="q10" value="float">float
        </label>
        <br><br>

        <label>
        <input type="radio" name="q10" value="bool">bool
        </label>
        <br><br>


        <button type="submit">Submit Quiz</button>
    </form>
</body>
</html>
